@tailwind base;
@tailwind components;
@tailwind utilities;

html[class="light"] {
	--primary-text-color: rgb(51, 50, 50);
}

html[class="dark"] {
	--primary-text-color: rgb(238, 230, 230);
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.scrollbar-track-rounded::-webkit-scrollbar-track {
	border-radius: 999px;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 999px;
}

.banner {
	background: linear-gradient(
			145deg,
			rgba(4, 120, 87, 0.5) 34%,
			transparent 34%,
			transparent 64%,
			rgba(5, 150, 105, 0.5) 64%,
			rgba(5, 150, 105, 0.5) 100%
		),
		linear-gradient(
			40deg,
			rgb(4, 120, 87) 0%,
			/* rgb(4, 120, 87) 62%, */ rgb(16, 185, 129) 62%,
			rgb(16, 185, 129) 100%
		);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	filter: invert(0.6);
	font-size: 16px !important;
}

.splide__arrow {
	background: rgb(0, 0, 0) !important;
	height: 2.5em !important;
	width: 2.5em !important;
	opacity: 1 !important;
	color: rgb(226, 225, 225);
}

.splide__arrow svg {
	width: 1.3em !important;
	height: 1.3em !important;
}

.splide__arrow:hover {
	transition: all;
	transition-duration: 300ms;
	color: rgb(11, 173, 79) !important;
}

.splide__arrow:disabled {
	display: none;
	opacity: 0 !important;
}

.splide__arrow:hover:not(:disabled) {
	opacity: 1 !important;
}

.splide.is-focus-in .splide__arrow:focus {
	outline: 3px solid rgba(0, 187, 255, 0) !important;
	outline-offset: 3px;
}

.rhap_main-controls {
	margin-left: 64px;
}

@media (max-width: 575.98px) {
	.rhap_main-controls {
		margin-left: 0px;
	}

	#rhap_current-time {
		display: none;
	}

	.rhap_time.rhap_total-time {
		display: none;
	}

	.rhap_progress-container {
		margin: 0 !important;
	}
}

#rhap_current-time {
	color: var(--primary-text-color);
	font-size: 14px !important;
}

.rhap_time.rhap_total-time {
	color: var(--primary-text-color);
	font-size: 14px !important;
}

.rhap_additional-controls {
	display: none !important;
}

.rhap_header {
	font-size: 15px !important;
}
